<div class="center hero-unit">
  <h1>Welcome to the Fantasy eSports Web app</h1>

  <h2>
    This is the homepage for the fantasy eSports website.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>

<%= link_to image_tag("fantasyesports.png", alt: "fantasyesports"), 'http://softwarewithmike.com/' %>