<li>
  <span class="content"><%= fantasy_team.tname %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(fantasy_team.created_at) %> ago.
  </span>
  <% if current_user?(fantasy_team.user) %>
    <%= link_to "delete", fantasy_team, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: fantasy_team.tname %>
  <% end %>
</li>